---
layout: home
title: Ross Search Partners, LLC
page: home
---


{% include nav.html %}

<div class="container-fluid">
	<div id="logo" class="row">
		<div class="col-sm-10 col-lg-8 col-sm-offset-2">
			<img src="/public/img/logo.svg" alt="Ross Search Partners, LLC" style="opacity: 0;" />
		</div>
	</div>
</div>

<div class="container">
	<div id="home" class="row">
		<div class="col-sm-10 col-sm-offset-2">
			<h1 itemprop="name">Ross Search Partners</h1>
			<p itemprop="description">
			{% include _content/description.md %}
			</p>
			{% capture copy %}{% include _content/home.md %}{% endcapture %}
			{{ copy | markdownify }}
		</div>
		<div class="col-sm-10 col-sm-offset-2">
			<img src="/public/img/ross_lg.jpg" alt="Photo of Andy & Corene" class="img-rounded" />
		</div>
	</div>
</div>

<div class="container-fluid hidden-xs">
	<div class="row seperator"></div>
</div>

<div class="container">
	<div id="verticals" class="row">
		<div class="col-sm-5 col-sm-offset-2">
			<h2>Ross Search Partners specializes in the following IT recruiting verticals:</h2>
			{% capture copy %}{% include _content/verticals.md %}{% endcapture %}
			{{ copy | markdownify }}
		</div>
		<div class="col-sm-5 hidden-xs">
			<img src="/public/img/hands.jpg" alt="Photo of People Shaking Hands" class="img-rounded" />
			<img src="/public/img/hands2.jpg" alt="Photo of People Shaking Hands" class="img-rounded" />
		</div>
	</div>
</div>

<div class="container-fluid hidden-xs">
	<div class="row seperator"></div>
</div>

<div class="container">
	<div id="contact" class="row">
		<div class="col-sm-5 col-sm-offset-2">
			<h2>Contact Us</h2>
			<h3 itemprop="name">
			Ross Search Partners LLC
			</h3>

			<h4 class="contact">
				<p>
				Corene Ross:	<span itemprop="telephone"><a href="tel:1-303-744-6360">(303) 744-6360</a> x102</span>
				</p>
				<p>
				<span itemprop="email"><a href="mailto:corene@rosssearch.net">corene@rosssearch.net</a></span>
				</p>

			</h4>
			<h4 class="contact">
				<p>
				Andy Ross:	<span itemprop="telephone"><a href="tel:1-303-744-6360">(303) 744-6360</a> x101</span>
				</p>
				<p>
				<span><a href="mailto:andy@rosssearch.net">andy@rosssearch.net</a></span>
				</p>
			</h4>

			<div class="contact" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
				<h4><span itemprop="streetAddress">PO Box 620309</span></h4>
				<h4><span itemprop="addressLocality">Littleton, CO</span> <span itemprop="postalCode">80162</span></h4>
			</div>
		</div>
		<div class="col-sm-4 col-sm-offset-1 hidden-xs">
			<img src="/public/img/logo.svg" alt="Ross Search Partners, LLC" />
		</div>
	</div>
</div>

<div class="container-fluid hidden-xs">
	<div class="row seperator"></div>
</div>

<div class="container">
	<div id="aboutus" class="row">
		<div class="col-sm-6 col-sm-offset-2" itemprop="member" itemscope itemtype="http://schema.org/Organization">
			<h2 itemprop="name">About Us</h2>
			<h3 itemprop="name">Corene Ross</h3>
			{% capture copy %}{% include _content/corene.md %}{% endcapture %}
			{{ copy | markdownify }}
		</div>
		<div class="col-sm-4">
			<img src="/public/img/corene.jpg" alt="Photo of Corene Ross" class="img-rounded" itemprop="image" />
		</div>
	</div>
</div>

<div class="container-fluid hidden-xs">
	<div class="row seperator"></div>
</div>

<div class="container">
	<div id="andy" class="row">
		<div class="col-sm-6 col-sm-offset-2" itemprop="member" itemscope itemtype="http://schema.org/Organization">
			<h3 itemprop="name">Andy Ross</h3>
			{% capture copy %}{% include _content/andy.md %}{% endcapture %}
			{{ copy | markdownify }}
		</div>
		<div class="col-sm-4">
			<img src="/public/img/andy.jpg" alt="Photo of Andy Ross" class="img-rounded" itemprop="image" />
		</div>
	</div>
</div>

<div class="container-fluid hidden-xs">
	<div class="row seperator"></div>
</div>

<div id="back" class="col-sm-2 hidden-xs">
</div>
