<!DOCTYPE html>
<html lang="en">
<head>
	{% include head.html %}
</head>

<body class="{{ page.page }}" data-spy="scroll" data-target="#navbar" itemscope itemtype="http://schema.org/LocalBusiness">

<!--[if IE 8]>     <body class="ie ie8 lte9 lte8"> <![endif]-->
<!--[if IE 9]>     <body class="ie ie9 lte9"> <![endif]-->
<!--[if gt IE 9]>  <body class="ie"><![endif]-->
<!--[if !IE]><!--> <body class=" "> <!--<![endif]-->

{{ content }}

{% include foot.html %}

{% include js.html %}

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5594c3ae3064e1a0" async="async"></script>

</body>
</html>
